<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}" data-theme="light">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "sidebar.html" . -}}
        <div class="main">
            {{ partial "navbar.html" . }}
            <div class="autopagerize_page_element">
                <div class="content">
                    {{- block "main" . }}{{- end }}
                </div>
            </div>
        </div>

        <iframe src="https://views.garrypolley.com/track_event?site={{- .Site.BaseURL -}}&event=view_{{- .Title -}}" height="0" width="0"></iframe>
        {{- partial "footer.html" . -}}
    </body>

</html>
